.signup {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-items: center;
    margin: 0 auto;
    margin-top: 5rem;
    gap: 1rem;
    width: 20%;
}

.signup_input {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: rgb(20, 20, 20);
}

.signup_input:focus {
    outline: none;
}

.signup_button {
    margin: 0 auto;
    width: 30%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(20, 20, 20);
    cursor: pointer;
    transition: all 0.1s ease;
}

.signup_button:hover {
    background-color: black;
}