@import url("./Components/Header/header.css");
@import url("./Components/Home/home.css");
@import url("./Components/Searchbar/searchbar.css");
@import url("./Components/ChatBox/chatbox.css");
@import url("./Components/SignIn/signIn.css");
@import url("./Components/SignUp/signUp.css");
@import url("./Components/Footer/footer.css");

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--colorMain);
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--colorBg);
}

:root {
    --colorBg: #222222;
    --colorMain: #ffffff;
}

.App {
    
}